body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Righteous", cursive;
  background-color: black;
}

.pname {
  margin-top: 40vh;
  color: white;
}

h1 {
  text-align: center;

  font-size: 12rem;

  line-height: 1;
}

.btns {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-flex: 1;

  -ms-flex: 1;

  flex: 1;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;

  -ms-flex-item-align: center;

  align-self: center;
}

.openmd {

  padding: 14px 20px;

  color: white;

  font-size: 3rem;

  margin: 2rem 3rem;

  display: inline-block;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;

  -ms-flex-item-align: start;

  align-self: flex-start;

  border-radius: 9px;
}